<h1>ARTISTS</h1>

<h3><%= link_to "Create an artist account", new_artist_path %></h3>

<% if current_user.has_role?(:artist) %>
    <table>
        <tr>
            <th>MY ARTIST</th>
            <th></th>
        </tr>
        <% @user_artist.each do |artist| %>
        <tr>
            <td>
                <% if artist.image.attached? %>
                    <%= image_tag artist.image, width: 50  %>
                <% end %>
            </td>
            <td><%= link_to artist.name, artist_path(artist) %></td>
        </tr>
    <% end %>
    </table>
    <hr>
<% end %>

<table>
    <tr>
        <th>ARTISTS</th>
        <th></th>
    </tr>
    <% @artists.each do |artist| %>
    <tr>
        <td>
            <% if artist.image.attached? %>
                <%= image_tag artist.image, width: 50  %>
            <% end %>
        </td>
        <td><%= link_to artist.name, artist_path(artist) %></td>
    </tr>
<% end %>
</table>