<% if @artist.image.attached? %>
    <%= image_tag @artist.image, width: 200  %>
<% end %>
<h1><%= @artist.name %></h1>
<h3><%= @artist.description %></h3>
<h4><%= @artist.website %></h4>
<%= link_to "Delete", artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } %>
