<section class="hero is-small is-dark">
  <div class="hero-body">
      <div class="container">
          <h1 class="title">
            FORGOT YOUR PASSWORD?
          </h1>
      </div>
  </div>
</section>

<section class="section is-centered">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "button is-warning" %>
      </div>
    <% end %>
    <br><br>
    <%= render "devise/shared/links" %>
  </div>
</section>
