<% @genres.each do |genre| %>
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><%= genre.name %></strong>
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <div class="level-item">
                        <small><%= genre.songs.size %> songs available</small>
                    </div>
                    <div class="level-item">
                        <button class="button is-small">
                            <%= link_to "VIEW #{genre.name.upcase} SONGS", genre_songs_path(genre) %>
                        </button>
                    </div>
                </div>
            </nav>
            <% if @roll %>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="level-item">
                                <p><%= link_to "Edit", edit_genre_path(genre), class: "button is-small is-primary" %> 
                                <%= link_to "Delete", genre_path(genre), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-small is-danger" %></p>
                            </div>
                        </div>
                    </div>
                </nav>
            <% end %>
        </div>
    </article>
<% end %>