<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to "SOUND // VISION", root_path, class: "navbar-item" %>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <%= link_to "songs", songs_path, class: "navbar-item" %>
        <%= link_to "artists", artists_path, class: "navbar-item" %>
        <%= link_to "search", search_path, class: "navbar-item" %>
        <% if user_signed_in? %>
          <%= link_to "account", account_path, class: "navbar-item" %>
            <% if current_user.has_role?(:admin) %>
                <%= link_to "admin", admin_path, class: "navbar-item" %>
            <% end %>
        <% end %>
    </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <% if user_signed_in? %>
                        <strong><%= link_to "log out", destroy_user_session_path, method: :delete, class: "button is-black is-outlined" %></strong>
                    <% else %>
                      <strong><%= link_to "log in ", new_user_session_path, class: "button is-dark is-outlined" %></strong>
                      <strong><%= link_to "sign up", new_user_registration_path, class: "button is-info is-outlined" %></strong>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
  
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
  
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
  
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
  
        });
      });
    }
  
  });
</script>