<%= link_to "SOUND // VISION", root_path %>
<nav>
    <%= link_to "ARTISTS", artists_path %>
    <%= link_to "SONGS", songs_path %>
    <% if user_signed_in? %>
        <%= link_to "ACCOUNT", account_path %>
        <% if current_user.has_role?(:admin) %>
            <%= link_to "ADMIN", admin_path %>
        <% end %>
        <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "LOGIN", new_user_session_path %>
        <%= link_to "SIGN UP", new_user_registration_path %>
    <% end %>
</nav>