<%= form_with model: @song, local: true do |f| %>
    <div>
        <%= f.label :song_file, class: "label" %>
        <%= f.file_field :song_file, accept: "audio/mpeg, audio/wav", class: "button is-ghost" %>
        <p class="help is-black">
            mp3/wav files only
        </p><br />
    </div>
    <div>
        <%= f.label :name, class: "label" %>
        <%= f.text_field :name, class: "input" %>
    </div>
    <div>
        <%= f.label :description, class: "label" %>
        <%= f.text_area :description, class: "textarea", rows: 3 %>
    </div>
    <div>
        <%= f.label :price, class: "label" %>
        <%= f.number_field :price, step: 0.1, class: "input" %>
    </div>
    <div>
        <%= f.label :exclusive_price, class: "label" %>
        <%= f.number_field :exclusive_price, step: 0.1, class: "input" %>
    </div>
    <%= f.label :artist_id, class: "label" %>
    <div class="select">
        <%= f.select(:artist_id, @artists.map { |a| [a.name, a.id] }) %>
    </div>
    <%= f.label :genres, class: "label" %>
    <div class="checkbox">
        <p><%= f.collection_check_boxes :genre_ids, @genres, :id, :name %></p>
    </div><br /><br />
    <div>
        <%= f.submit "Create Song", class: "button is-link" %>
    </div>
<% end %>