<%= form_with model: @song, local: true do |f| %>
    <div>
        <%= f.label :song_file %>
        <%= f.file_field :song_file, accept: "audio/mpeg, audio/ogg, audio/wav" %>
    </div>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description, size: '25x5' %>
    </div>
    <div>
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01 %>
    </div>
    <div>
        <%= f.label :exclusive_price %>
        <%= f.number_field :exclusive_price, step: 0.01 %>
    </div>
    <div>
        <%= f.label :artist_id %>
        <%= f.select(:artist_id, @artists.map { |a| [a.name, a.id] }) %>
    </div>
    <div>
        <%= f.label :genres %>
        <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>