<h1>SONGS</h1>
<%= render partial: "shared/search_artist_song" %>
<%= render partial: "shared/search_genre" %>
<% if user_signed_in? && current_user.has_role?(:artist) %>
    <h3><%= link_to "Upload a song", new_song_path %></h3>
    <hr>
<% end %>

<table>
    <tr>
        <th></th>
        <th>Artist</th>
        <th>Song</th>
        <th>Tags</th>
        <th>Purchases</th>
    </tr>
    <% @songs.each do |song| %>
    <tr>
        <td>
            <% if song.artist.image.attached? %>
                <%= image_tag song.artist.image, width: 50  %>
            <% end %>
        </td>
        <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
        <td><%= link_to song.name, song_path(song) %></td>
        <td><h5><%= song.genres.pluck(:name).join(", ") %></h5></td>
        <td><%= song.purchases %></td>
    </tr>
<% end %>
</table>