<h1><%= @song.name %></h1>
<% if @song.artist.image.attached? %>
    <%= image_tag @song.artist.image, width: 100  %>
<% end %>
<h4>by <%= link_to @song.artist.name, artist_path(@song.artist) %></h4>
<h5>
<%= @song.genres.pluck(:name).join(", ") %>
</h5>
<% if @song.song_file.attached? && @song.available %>
    <div>
        <audio controls>
            <source src=<%= url_for(@song.song_file) %> type="audio/mpeg">
            <source src=<%= url_for(@song.song_file) %> type="audio/ogg">
            <source src=<%= url_for(@song.song_file) %> type="audio/mpeg">
        </audio>
    </div>
<% end %>
<p><%= @song.description %></p>
<% if @song.available %>
    <h4>Price: $<%= "%.2f" % @song.price %> <button id="buynow-button">BUY!</button></h4>
    <h4>Exclusive Purchase Price: $<%= "%.2f" % @song.exclusive_price %> <button id="excl-button">BUY!</button></h4>
<% else %>
    <h4>Song no longer available - already purchased exclusively</h4>
<% end %>

<script src="https://js.stripe.com/v3/"></script>

<script>
    const stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>")
    const buyButton = document.getElementById('buynow-button')
    const buyButton2 = document.getElementById('excl-button')

    buyButton.addEventListener('click', function() {
        fetch('<%= buy_path(@song.id, 1) %>', {
            method: 'POST'
        })
        .then(function(response) {
            return response.json()
        })
        .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id })
        })
    })

    buyButton2.addEventListener('click', function() {
        fetch('<%= buy_path(@song.id, 2) %>', {
            method: 'POST'
        })
        .then(function(response) {
            return response.json()
        })
        .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id })
        })
    })
</script>

<% if @song.artist.user_id == current_user.id %>
    <p><%= link_to "Edit", edit_song_path(@song) %></p>
    <p><%= link_to "Delete", song_path(@song), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>