<section class="hero is-small is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                PAYMENT SUCCESSFUL
            </h1>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <h3 class="subtitle is-5">Thank you for buying <%= @song.name %> by <%= @song.artist.name %></h3>
        <%= link_to "DOWNLOAD", rails_blob_path(@song.song_file, disposition: 'attachment'), class: "button is-link" %>
        <hr>
        <p>
            You can access your purchased song at any time in <%= link_to "Account > View Purchased Songs", purchases_path, class: "button is-link is-outlined is-small" %>
        </p>
        <hr>
        <h3><%= link_to "Return to Song List", songs_path, class: "button is-success" %></h3>
    </div>
</section>
