<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                MY ACCOUNT
            </h1>
            <h2 class="subtitle is-6">
                edit your details, find your purchases, view your artist profiles
            </h2>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <h2 class="subtitle is-5"><strong><%= "#{@user.first_name} #{@user.last_name}" %></strong></h2>
                        <%= @user.email %>
                        <%= link_to "Edit", edit_user_registration_path, class: "button is-link is-outlined is-small" %>
                    </p>
                </div>
            </div>
        </article>

        <hr>
        
        <% if @user.songs.size > 0 %>
            <p><%= link_to "VIEW PURCHASED SONGS", purchases_path, class: "button is-link is-outlined" %></p>
        <% else %>
            <p>You have not purchased any songs yet</p>
        <% end %>
        
        <hr>

        <h3 class="subtitle is-4">MY ARTIST PROFILES</h3>
        <% if @rolls.include?("artist") %>
            <%= render partial: "shared/artists" %>
        <% else %>
            <p>You do not have an artist account. Create one <%= link_to "here", new_artist_path %> in order to upload your music.</p>
        <% end %>
    </div>
</section>

<% if @rolls.include?("artist") %>
    <section class="section is-centered">
        <div class="container">
            <%= will_paginate @artists %>
        </div>
    </section>
<% end %>
