<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SITE ADMINISTRATION
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>

<section class="section is-centered">
    <%= link_to "MANAGE GENRES", genres_path, class: "button is-link" %>
</section>

<section class="section is-centered">
    <h3 class="subtitle">USERS</h3>
    <% @users.each do |user| %>
        <p><%= user.first_name %> <%= user.last_name %>(<%= user.email %>)</p>
        <p>Roles: <%= user.roles.pluck(:name).join(", ") %></p>
        <%= link_to "Make Admin", change_role_path(user, 1), class: "button is-success is-small" %>
        <%= link_to "Remove Admin", change_role_path(user, 2), class: "button is-link is-outlined is-small" %>
        <%= link_to "Block User", change_role_path(user, 3), class: "button is-danger is-outlined is-small" %>
        <%= link_to "Unblock User", change_role_path(user, 4), class: "button is-link is-outlined is-small" %>
    <% end %>
</section>
