<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SITE ADMINISTRATION
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>

<h3>USER MANAGEMENT</h3>
<% @users.each do |user| %>
    <p><%= user.first_name %> <%= user.last_name %> (<%= user.email %>): <%= user.roles.pluck(:name).join(", ") %></p>
    <%= link_to "Make Admin", change_role_path(user, 1) %>
    <%= link_to "Remove Admin Rights", change_role_path(user, 2) %>
    <%= link_to "Block User", change_role_path(user, 3) %>
    <%= link_to "Unblock User", change_role_path(user, 4) %>
<% end %>

<h3>GENRE MANAGEMENT</h3>
<p><%= link_to "Manage genre list", genres_path %></p>
