<h1>ADMINISTRATION</h1>

<h3>USER MANAGEMENT</h3>
<% @users.each do |user| %>
    <p><%= user.first_name %> <%= user.last_name %> (<%= user.email %>): <%= user.roles.pluck(:name).join(", ") %></p>
<% end %>

<h3>GENRE MANAGEMENT</h3>
<p><%= link_to "Manage genre list", genres_path %></p>
