<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SITE ADMINISTRATION
            </h1>
            <h2 class="subtitle is-6">
                manage user roles
            </h2>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <h3 class="subtitle">USERS</h3>

        <% @users.each do |user| %>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <h2 class="subtitle is-5"><strong><%= user.first_name %> <%= user.last_name %></strong></h2>
                            <%= user.email %>
                            <span class="tag is-primary"><%= user.roles.pluck(:name).join(", ") %></span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <p><%= link_to "Admin", change_role_path(user, 0), class: "button is-link is-small is-outlined" %> 
                                <%= link_to "Artist", change_role_path(user, 1), class: "button is-primary is-small is-outlined" %> 
                                <%= link_to "Block", change_role_path(user, 2), class: "button is-danger is-small is-outlined" %></p>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        <% end %>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <%= will_paginate @users %>
    </div>
</section>
