<header>
    <h1 class="title">SOUND // VISION</h1>
    <h5 class="subtitle">music market for media content creators</h5>
</header>

<section>
    <div><%= render partial: "shared/search_artist_song" %></div>
    <div><%= render partial: "shared/search_genre" %></div>
</section>

<!-- <section>
    <h3>ARTIST SPOTLIGHT</h3>
    <% @artists.each do |artist| %>
        <div><%= image_tag artist.image, width: 50  %> <%= link_to artist.name, artist_path(artist) %></div>
    <% end %>
</section> -->

<h3 class="subtitle">ARTIST SPOTLIGHT</h3>

<% @artists.each do |artist| %>
<div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
            <%= image_tag artist.image %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to artist.name, artist_path(artist) %></strong>
            <br>
            <%= artist.description %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
  <% end %>