<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SEARCH
            </h1>
            <h2 class="subtitle is-6">
                search SOUND // VISION
            </h2>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="columns is-centered">
        <div class="column has-text-centered">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        <%= form_tag artist_song_search_path, method: :post do %>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <%= text_field_tag :search, nil, placeholder: "artist/song", class: "input" %>
                                </div>
                                <div class="control">
                                    <%= submit_tag "SEARCH", class: "button is-link" %>
                                </div>
                            </div>
                            <p class="help is-black">
                                search artists/songs
                            </p>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
        <div class="column has-text-centered">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        <%= form_tag genre_search_path, method: :post do %>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <%= text_field_tag :search, nil, placeholder: "genre/style", class: "input" %>
                            </div>
                            <div class="control">
                                <%= submit_tag "SEARCH", class: "button is-warning" %>
                            </div>
                        </div>
                        <p class="help is-black">
                            search genres/styles
                        </p>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>