<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SEARCH
            </h1>
            <h2 class="subtitle is-4">
                <%= @search_type %> search results for "<%= @parameter %>"
            </h2>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <p class="subtitle"><%= @result_count %> results found:</p>
        <% if @type == 0 %>
            <%= render partial: "shared/genres" %>
        <% elsif @type == 1 %>
            <%= render partial: "shared/songs" %>
        <% elsif @type == 2 %>
            <%= render partial: "shared/artists" %>
        <% end %>
    </div>

    <br />
    <%= render partial: "shared/search" %>
</section>
