<section class="hero is-small is-dark">
  <div class="hero-body">
      <div class="container">
          <h1 class="title">
            LOG IN
          </h1>
          <h2 class="subtitle is-6">
          
          </h2>
      </div>
  </div>
</section>

<section class="section is-centered">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "button is-link" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</section>
