<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sound // Vision</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= favicon_link_tag "artist.png" %>
  </head>

  <body>
    <%= render partial: "shared/nav" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>SOUND // VISION</strong> &copy; Copyright 2020, <a href="https://github.com/sthobropdr">Sebastian Brooks</a>.
          All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
