<!DOCTYPE html>
<html>
  <head>
    <title>Sound // Vision</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag "artist.png" %>
  </head>

  <body>
    <%= render partial: "shared/nav" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
